/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
  text-align: center;
  border: 10px;
  border-radius: 30px;
  border-color: gray;
}

.hero {
  background: url(images/brua.jpg), lightgray;
  background-repeat: no-repeat;
  background-size: 720px 343px;
  width: 720px;
  height: 343px;
  flex-shrink: 0;
  border-radius: 30px 30px 0px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px auto -20px auto;
}

h1 {
  border-radius: 10px;
  width: 225px;
  height: 42px;
  background-color: #355070;
  color: #f5f5f5;
  display: flex;
  width: 245px;
  height: 34px;
  margin: 90px auto 80px auto;
}

h2 {
  border-radius: 10px;
  text-size-adjust: 5px;
  width: 50%;
  height: auto;
  padding: 10px;
  background-color: #355070;
  color: #f5f5f5;
  display: flex;
  margin-inline: auto;
}

/**
End of Hero colum and start of Activivities colum
*/

.activities {
  flex-direction: column;
  width: 720px;
  height: 378px;
  background-color: #eaac8b;
  background-size: cover;
  margin: -10px auto 0px auto;
}

#top-three {
  padding: 40px auto;
}

#img-colum {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.colum {
  border-radius: 60px;
  width: 100px;
  height: 100px;
}
.mid-colum {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.end-colum {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
/**
 The end of Atctivitis and start of The Guinde
 */

.guide {
  display: flex;
  flex-direction: row;
  width: 720px;
  height: 394px;
  border-radius: 0px 0px 30px 30px;
  background: #6d597a;
  margin: auto;
}

.card {
  width: 400px;
  margin: 60px auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: #b56576;
  color: #2b2d42;
  border-bottom: 10px solid #e56b6f;
  border-radius: 10px;
}
